<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <style>
        body {
            margin: 0;
            font-size: 10pt;
        }

        h1 {
            color: #05439F;
            font-size: 16pt;
            font-weight: normal;
            text-align: center;
        }

        @page {
            size: A4 portrait;
            margin-left: 10mm;
            @bottom-right {
                content: " Página " counter(page) "/" counter(pages);
                font-size: 5pt;
            }
        }

    </style>
</head>
<body>
    <h1>Segunda Página</h1>

</body>
</html>
